<section class="hero-section section-paddings">
    <div class="hero-container container">
        <div class="hero-content">
            <h1 class="main-title">
                Welcome to our <span class="highlight">collection</span> of premium watches
            </h1>
            <p class="hero-description">
                Our watches are not just timepieces, but also an expression of your personality and lifestyle. From
                classic designs to modern ones, we have a watch to suit every taste and occasion.
            </p>
        </div>
        <div class="hero-row">
            <div class="hero-avatars">
                <img src="../img/hero img/Ellipse21.webp" alt="Avatar 1" class="avatar avatar-left">
                <img src="../img/hero img/Ellipse22.webp" alt="Avatar 2" class="avatar avatar-center">
                <img src="../img/hero img/Ellipse23.webp" alt="Avatar 3" class="avatar avatar-right">
            </div>
            <div class="scroll-container">
                <a href="#footer" class="scroll-down-link">Scroll down</a>
            </div>
        </div>
<div class="hero-image-container"></div>
    </div>
</section>