<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/mobile-menu.css" />  
</head>
<body>
    <div class="backdrop is-open">
<div class="modal">
    <button class="modal-close-btn" type="button">
        <svg  class="modal-close-icon" width="40" height="40">
        <use href="../img/mobile-menu/x.svg#icon-x"></use>  
        </svg>
    </button>
    <div class="container-modal">
        <nav class="modal-nav">
                <ul class="modal-list">
                    <li class="modal-list-nav"><a class="modal-menu" href="">Home</a></li>
                    <li class="modal-list-nav"><a class="modal-menu" href="">About Us</a></li>
                    <li class="modal-list-nav"><a class="modal-menu" href="">Catalog</a></li>
                    <li class="modal-list-nav"><a class="modal-menu" href="">Sale</a></li>
                    <li class="modal-list-nav"><a class="modal-menu" href="">Reviews</a></li>
                    <li class="modal-list-nav"><a class="modal-menu" href="">Contact Us</a></li>
                </ul>
        </nav>
    </div>
    </div>
</div>
</div>
</body>
</html>

