<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/mobile-menu.css" />  
</head>
<body>
    <div class="backdrop is-open">
<div class="modal">
    <button class="modal-close-btn" type="button">
        <svg  class="modal-close-icon" width="40" height="40">
        <use href="../img/mobile-menu/x.svg#icon-x"></use>  
        </svg>
    </button>
    <div class="container-modal">
        <nav class="modal-nav">
                <ul class="modal-list">
                    <li class="modal-list-nav"><a class="modal-list-link" href="">Home</a></li>
                    <li class="modal-list-nav"><a class="modal-list-link" href="">About Us</a></li>
                    <li class="modal-list-nav"><a class="modal-list-link" href="">Catalog</a></li>
                    <li class="modal-list-nav"><a class="modal-list-link" href="">Sale</a></li>
                    <li class="modal-list-nav"><a class="modal-list-link" href="">Reviews</a></li>
                    <li class="modal-list-nav"><a class="modal-list-link" href="">Contact Us</a></li>
                </ul>
                <ul class="">
                    <li class="">
                        <a class="" href="https://www.facebook.com/goITclub/">
                            <svg class="" width="20" height="20" aria-label="fb">
                                <use href="../img/mobile-menu/image.svg#icon-facebookwhite">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="https://www.instagram.com/goitclub/">
                            <svg class="" width="20" height="20" aria-label="instagram">
                                <use href="../img/mobile-menu/image.svg#icon-instagramwhite">
                                </use>
                            </svg>
                        </a>
                    </li>

                    <li class="">
                        <a class="" href="https://www.youtube.com/c/GoIT">
                            <svg class="" width="20" height="20" aria-label="youtube">
                                <use href="../img/mobile-menu/image.svg#icon-youtubewhite">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
        </nav>
    </div>
    </div>
</div>
</div>
</body>
</html>

