.header {
    background-color: #FBFBFB;
}

.container-header {
max-width: 320px;
padding: 20px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

@media screen and (min-width: 768px) {
    .container-header {
        max-width: 768px;
        padding: 26px 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container-header {
        max-width: 1158px;
        padding-left: 64.5px;
        padding-right: 64.5px;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.41px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration-color: #0C0C0C;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

@media screen and (min-width: 768px) {
    .logo-header {
        font-size: 20px;
        line-height: 24.26px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .logo-header {
        padding-top: 6px;
        padding-bottom: 6px;
        margin-right: 203px;
    }
}

.menu-list {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 40px;
    font-size: 14px;
    line-height: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .menu-list {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after{
    content: "";
    position: absolute;
    left: 40%;
    bottom: -10px;
    border-radius: 50%;
    background-color: #3350E9;
    width: 8px;
    height: 8px;
}


.socials-list {
    display: flex;
    gap: 10px;
    margin-left: 203px;
}

@media screen and (max-width: 1023px) {
    .socials-list {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
}

@media screen and (min-width: 1024px) {

    .menu-list,
    .socials-list {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.hidden:hover,
.hidden:focus {
    opacity: 1;
    pointer-events: auto;
    color: #3350E9;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: #3350E9;
}

.social-list-link:focus-visible .social-list-icon {
    fill: #0C0C0C;
}


.social-list-link:focus-visible {
    outline: 2px solid #3350E9;
}

.social-list-item {
    border: 1px solid rgba(12, 12, 12, 0.9);
    border-radius: 10px;
    border-color: #0C0C0C;
    width: 36px;
    height: 36px;
    transition: border-color 0.3s ease;
}

.social-list-item:hover,
.social-list-item:focus {
    border-color: #3350E9;
    outline: none;
}

.social-list-link:focus-visible {
    border-color: #0C0C0C;
}

.open-menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    stroke: #0C0C0C;

}

@media screen and (min-width: 1024px) {
    .open-menu-btn {
        display: none;
    }
}