.header {
    background-color: #FBFBFB;
}

.container-header {
max-width: 320px;
padding-top: 20px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

@media screen and (min-width: 768px) {
    .container-header {
        max-width: 768px;
        padding: 26px 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container-header {
        max-width: 1158px;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.26px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration-color: #0C0C0C;
    margin-right: 203px;
}

.menu-list {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 40px;
}

@media screen and (max-width: 1023px) {
    .menu-list {
        display: none;
    }
}

.socials-list {
    display: flex;
    justify-content: baseline;
    gap: 10px;
    margin-left: 203px;
}

@media screen and (max-width: 1023px) {
    .socials-list {
    display: none;
     }
}

.social-list-icon {
    border: 1px;
    border-radius: 10px;
    border-color: #0C0C0C;
}

.open-menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    stroke: #0C0C0C;

}

@media screen and (min-width: 1024px) {
    .open-menu-btn {
        display: none;
    }
}