.hero-content {
  margin-bottom: 28px;
}

.hero-container {
  margin: 0 auto;
  padding: 0 20px;
}
.main-title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  line-height: 38px;
}

.main-title .highlight {
  color: #3350e9;
}

.hero-description {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: left;
  line-height: 18px;
}

.hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 335px;
}

.hero-avatars {
  position: relative;
  width: 108px;
  height: 44px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.avatar-left {
  left: 0;
  z-index: 1;
}

.avatar-center {
  left: 32px;
  z-index: 2;
}

.avatar-right {
  left: 64px;
  z-index: 3;
}

.scroll-container {
  display: flex;
  align-items: center;
}

.scroll-down-link {
  font-size: 14px;
  color: #0c0c0c;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  padding-top: 26px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #3350e9;
}

.hero-image-container {
  width: 335px;
  height: 366px;
  margin-top: 28px;
}

@media (max-width: 767px) {
  .hero-container {
    padding: 60px 20px 0 20px;
  }
}

@media (min-width: 768px) {
  .main-title {
    font-size: 70px;
    line-height: 60px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    text-align: left;
    max-width: 557px;
  }
  .hero-image-container {
    height: 520px;
    width: 704px;
    margin-top: 40px;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;

    padding: 80px 32px 0 32px;
    flex-wrap: wrap;
    max-width: 768px;

    margin: 0 auto;
  }

  .hero-description {
    font-size: 16px;
    line-height: 20px;
    width: 480px;
  }

  .hero-content {
    margin-bottom: 0px;
    width: 557px;
  }

  .hero-row {
    width: 136px;
    flex-direction: column;
  }

  .hero-avatars {
    width: 136px;
    height: 60px;
  }

  .scroll-container {
    align-self: flex-end;
    margin-top: auto;
  }
  .scroll-down-link {
    font-size: 20px;
  }
  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
  }
  .avatar-left {
    left: 0;
    z-index: 1;
  }

  .avatar-center {
    left: 41px;
    z-index: 2;
  }

  .avatar-right {
    left: 82px;
    z-index: 3;
  }
}

@media (min-width: 1280px) {
  .hero-image-container {
    width: 1150px;
    height: 500px;
  }
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
  }
  .avatar-left {
    left: 0;
    z-index: 1;
  }

  .avatar-center {
    left: 44px;
    z-index: 2;
  }

  .avatar-right {
    left: 88px;
    z-index: 3;
  }

  .hero-avatars {
    width: 146px;
    height: 60px;
  }
  .hero-content {
    width: 597px;
  }
  .main-title {
    font-size: 72px;
    line-height: 63px;
    max-width: 597px;
  }

  .hero-container {
    align-items: flex-start;
    max-width: 1280px;

    padding: 80px 65px 0 65px;
  }
  .hero-row {
    width: 146px;
    gap: 189px;
    align-items: flex-end;
  }
  .scroll-down-link {
    padding-top: 0px;
  }
}
